---
layout: blog
title: Daniel Ryan
---
<div class="blog-header centered-header">
	<h1>{{ page.title }}</h1>
	<p class="lead">NET.DEV.OPS Engineer and Space/Hobby Nerd</p>
	<p class="bio-text">I've always been a nerd at heart. I grew up in the Southbay of Los Angeles, spent some time up in Northern California, then made my way back down to SoCal. I've now been living in Las Vegas, Nevada for the past year and survived my first summer. I've always enjoyed things re: tech. I have a 3D printer that I built and love tinkering with. This along with the many Raspberry Pis, Odroids, and servers I play with give me ample opportunity to learn new things.</p>
	<p class="bio-text">I spent the last 7 years working in the tech industry. I have experience working and running an Operations Center, along with hands on Linux, Unix, Development, Cloud Infrastructure, and Networking experience. I've worked in startup environments requiring many hats, and in more corporate environments with more defined roles.</p>
</div>

<div class="latest-post">
	{% assign latest_post = site.posts.first %}
	{% if latest_post %}
	<article class="blog-post latest-post-full">
		<header class="post-header">
			<h2 class="post-title">{{ latest_post.title }}</h2>
			<div class="post-meta">
				<span class="post-date">
					<i class="fa fa-calendar"></i> {{ latest_post.date | date: "%B %d, %Y" }}
				</span>
				{% if latest_post.category %}
				<span class="post-category">
					<i class="fa fa-folder"></i> {{ latest_post.category }}
				</span>
				{% endif %}
			</div>
		</header>
		
		<div class="post-content">
			{{ latest_post.content }}
		</div>
	</article>
	{% endif %}
</div>
