---
layout: blog
---
<div class="latest-post">
	{% assign latest_post = site.posts.first %}
	{% if latest_post %}
	<article class="blog-post latest-post-full">
		<header class="post-header">
			<h2 class="post-title">{{ latest_post.title }}</h2>
			<div class="post-meta">
				<span class="post-date">
					<i class="fa fa-calendar"></i> {{ latest_post.date | date: "%B %d, %Y" }}
				</span>
				{% if latest_post.category %}
				<span class="post-category">
					<i class="fa fa-folder"></i> {{ latest_post.category }}
				</span>
				{% endif %}
			</div>
		</header>
		
		<div class="post-content">
			{{ latest_post.content }}
		</div>
	</article>
	{% endif %}
</div>
