<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/personal-projects/">Projects</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/audio-dramas/">Audio Dramas</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/thoughts/">Thoughts</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author }}. All Rights Reserved.</p>
            </div>
            <div class="col-md-4">
                <ul class="list-inline">
                    {% for social in site.social %}
                    <li>
                        <a href="{{ social.url }}" title="{{ social.title }}">
                            <i class="fa fa-{{ social.title }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
