<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}
		
		<div class="container blog-container">
			<div class="row">
				<!-- Left Sidebar -->
				<div class="col-lg-2 col-md-3 sidebar sidebar-left">
					<div class="sidebar-widget">
						<h3>Recent Posts</h3>
						<ul class="recent-posts">
							{% assign filtered_posts = site.posts | where_exp: "post", "post.category != 'Audio Dramas' and post.categories contains 'Audio Dramas' == false" %}
							{% for post in filtered_posts limit:5 %}
							<li>
								<a href="{{ post.url }}">{{ post.title }}</a>
								<small class="recent-post-meta">
									<span class="recent-post-date">{{ post.date | date: "%B %d, %Y" }}</span>
									{% if post.category %}
									<span class="recent-post-category">{{ post.category }}</span>
									{% endif %}
								</small>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				
				<!-- Main Content -->
				<div class="col-lg-8 col-md-6 main-content">
					{{ content }}
				</div>
				
				<!-- Right Sidebar -->
				<div class="col-lg-2 col-md-3 sidebar sidebar-right">
					{% include about_sidebar.html %}
				</div>
			</div>
		</div>
		
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>

